
.jumbotron {
    width: 900px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-top: 20px; 
}

.form-control {
    margin-bottom: 4px;
}

.negrito {
    font-weight: bold;
} 

.selecionado {
    background-color: yellow;
}
